* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    margin: 0; /* Asegura que no haya márgenes en el cuerpo */
}

.container {
    display: flex;
}

main {
    width: 100%;
    padding: 20px;
}

.sidebar {
    background: #000;
    color: #fff;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
    position: fixed; /* Añade posición fija para que esté pegado */
    left: 0; /* Asegura que esté alineado desde el borde izquierdo */
}

.top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo {
    font-size: 30px;
    margin-top: 60px;
}

.bars {
    display: flex;
    font-size: 25px;
    margin-left: 50px;
    margin-top: 60px;
}

.link {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}

.link:hover {
    background: lightskyblue;
    color: #000;
    transition: all 0.5s;
}

.active {
    background: lightskyblue;
    color: #000;
}

.icon,
.link_text {
    font-size: 15px;
    text-align: left;
}

.fondo-joan {
	background-image: url('https://unl.edu.ec/sites/default/files/galeria/2021/02/HEADER1.jpg');
    background-size: cover;
	width: 100%;
	height: 150vh;
}