/* MyDataTable.css */
/*rdt_Table
rdt_TableRow
rdt_TableCol
rdt_TableCol_Sortable
rdt_TableCell
rdt_TableHeader
rdt_TableFooter
rdt_TableHead
rdt_TableHeadRow
rdt_TableBody
rdt_ExpanderRow
Cambiar el tipo de letra */
.my-data-table .rdt_TableCell {
  font-size: 18px;
  font-family: courier, arial, helvetica;
}

.my-data-table .rdt_TableHead {
  font-size: 20px;
  font-family: courier, arial, helvetica;
}

/* Ajustes para hacer la tabla responsiva */
.my-data-table {
  overflow-x: auto;
}

.my-data-table .rdt_Table {
  width: 100%;
}

.my-data-table .rdt_TableRow {
  display: flex;
  flex-wrap: wrap;
}

.my-data-table .rdt_TableCol {
  flex: 1;
  min-width: 200px; /* Ajusta este valor según tus necesidades */
  box-sizing: border-box;
  padding: 8px; /* Ajusta el espaciado interior */
}

.my-data-table .rdt_TableHeader {
  background-color: #f2f2f2;
  font-weight: bold;
}

/**@media (max-width: 768px) {
  .my-data-table .rdt_TableCell {
    font-size: 0; /* Oculta el texto /
  }
  .my-data-table .rdt_TableCell::before {
    content: "📊"; /* Muestra un icono antes de la celda /
    font-size: 18px;
  }
}*/